    /* body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background: #f9f9f9;
      color: #333;
    }
    header {
      background: #1a1a1a;
      color: #fff;
      padding: 1rem 0;
      text-align: center;
    }
    nav a {
      color: #fff;
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
    }
    nav a:hover {
      text-decoration: underline;
    }
    .container {
      width: 90%;
      max-width: 1100px;
      margin: 2rem auto;
    }
    h1, h2 {
      color: #1a1a1a;
    }
    .section {
      margin-bottom: 2rem;
      padding: 1.5rem;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }
    footer {
      text-align: center;
      padding: 1rem 0;
      background: #1a1a1a;
      color: #fff;
      margin-top: 2rem;
    } */
  
    .btn-custom {
      color: #88351c; 
      border-color: #88351c; 
    }

    .btn-custom:hover {
      background-color: #88351c; /* Slightly darker shade for hover */
      border-color: #88351c;
      color: white;
    }
    .btn-custom:active {
      background-color: #662a14; /* Even darker shade for active state */
      border-color: #662a14;
      color: white;

    }